.row {
  & {
    color: #fff;
  }
  &__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__image {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    display: block;
    margin-right: 10px;
    transition: all 450ms;

    &:hover {
      transform: scale(1.08);
    }

    &--large {
      max-height: 250px;
      &:hover {
        transform: scale(1.09);
      }
    }
  }
}
